@charset "UTF-8";

#mobile-call {
	width: 50rem;
	height: 50rem;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: fixed;
	bottom: 16rem;
	right: 16rem;
	font-size: 24rem;
	z-index: 10000;
	border-radius: 50%;
	background-color: $primary;
	color: white;
	box-shadow: transparentize($primary, 0.75) 0 5rem 9rem;
	animation: pulse 1s ease-in-out infinite;
	-webkit-animation: pulse 3s ease-in-out infinite;
	display: none;

	@include phone {
		display: inline-flex;
	}
}


@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: transparentize($primary, 0.7) 0 5rem 9rem;
	}
	50% {
		transform: scale(1);
		box-shadow: transparentize($primary, 0.7) 0 3rem 10rem 2rem;
	}
	100% {
		transform: scale(0.9);
		box-shadow: transparentize($primary, 0.7) 0 5rem 9rem;
	}
}
@-webkit-keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: transparentize($primary, 0.7) 0 5rem 9rem;
	}
	50% {
		transform: scale(1);
		box-shadow: transparentize($primary, 0.7) 0 3rem 10rem 2rem;
	}
	100% {
		transform: scale(0.9);
		box-shadow: transparentize($primary, 0.7) 0 5rem 9rem;
	}
}