@charset "UTF-8";

@mixin select(
  $postfix: false,
  $bg: transparent,
  $border: $hint,
  $color: $h,
  $placeholder: lighten($hint, 15%),
  $border-active: $primary,
  $border-hover: $border-active,
  $percent: 10%,
  $focus: transparentize($border-active, 0.75)
) {
  .select#{ if($postfix, '_' + $postfix, '') } {
    border-color: $border;
    color: $color;
    background-color: transparent;

    &::placeholder {
      color: $placeholder;
    }

    &:hover {
      border-color: darken($border-active, $percent);
      color: darken($border-active, $percent);
    }

    &:focus {
      box-shadow: $focus 0 0 0 2rem;
    }

    @content;
  }
}